<center><i><h1>About the Owner!</h1></i><center>
	
<p>Hi, my name is <%= @name %>! Take a few minutes and get aquainted with the place.</p>

<p>Today is <%= Date.today %>.  Have you hugged your cat today?</p>

<p>Bet your bottom dollar that tomorrow is <%= Date.today + 1 %>!</p>

<h2><%= @message %></h2>