<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
<head>
</head>
  <body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/images/dress.jpg" class="img-responsive">
      <p class="description_content">The Dress</p>
    </div>
  </div>
</div>


</body>

</html>


wedding dress
flowers
shoes
catering
invitations
photographer
cake
honeymoon
groom suit
entertainment
programs
venue