<!-- 

// $(document).ready(function(){

// 	$("#peek").click(function(){
// 		$(this).html("here I am!");
// 	});
// });


// <p id = "peek"> Where is that guy? </p>
 -->

<script>
$(document).ready(function(){
    $("#celebrate").click(function(){
        $(".hiphip").html("HOORAY!");
    });
});

<p class="hiphip">Yay?</p>

<p class="hiphip">Super-duper?</p>

<button id="celebrate">Get excited!</button>

</script>